.banner {
  position: relative;
  color: #0e1d30;
  width: 100%;
}

.bannerImgContainer {
  width: 100%;
  position: absolute;
  top: 230px;
}

.bannerImg {
  width: 100%;
    display: flex;
    position: absolute;
}

.homeTitleWrapper {
  position: absolute;
  top: 230px;
  display: flex;
  width: 100%;
  background-image: linear-gradient(rgb(255, 255, 255, .3), rgb(255, 255, 255, 0));
  height: 300px;
}

.homeTitle {
  font-size: 105px;
  font-weight: bold;
  width: 100%;
  margin: 0;
  line-height: .5;
  margin-top: 40px;
  letter-spacing: 2px;
}

.homeTitleDescript {
  font-size: 48px;
  letter-spacing: 11px;
  font-weight: 400;
  text-align: center;
}
@media (max-width: 2000px) {
  .homeTitleWrapper {
    top: 205px;
  }

  .bannerImgContainer {
    top: 205px;
  }
}

@media (max-width: 1750px) {
  .homeTitleWrapper {
      top: 180px;
    }
  
    .bannerImgContainer {
      top: 180px;
    }
}
@media (max-width: 1650px) {
  .homeTitleDescript {
    font-size: 40px;
  }
}

@media (max-width: 1550px) {
  .homeTitleWrapper {
      top: 160px;
    }
  
    .bannerImgContainer {
      top: 160px;
    }
}

@media (max-width: 1500px) {
 .homeTitleDescript {
   font-size: 35px;
 }
.homeTitle {
  font-size: 90px;
}
  .banner {
    padding-top: 100px;
  }
}

@media (max-width: 1350px) {
  .homeTitleWrapper {
      top: 140px;
    }
    .homeTitleDescript {
      font-size: 30px;
    }
    .bannerImgContainer {
      top: 140px;
    }
}

@media (max-width: 1250px) {
  .homeTitle {
    font-size: 80px;
  }

  .homeTitleDescript {
    font-size: 30px;
    letter-spacing: 7px;
  }
}

@media (max-width: 1100px) {
.homeTitleDescript {
  font-size: 29px;
  letter-spacing: 6px;
}
.homeTitle {
  font-size: 70px;
}
}

@media (max-width: 1000px) {
  .homeTitleWrapper {
      top: 120px;
      height: 190px;
    }
    .homeTitle{
      font-size: 65px;
    }
  .homeTitleDescript{
    letter-spacing: 5px;
    font-size: 28px;
  }
    .bannerImgContainer {
      top: 120px;
    }
}

@media (max-width: 900px) {
 

  .homeTitle {
    font-size: 60px;
  }

  .homeTitleDescript {
    letter-spacing: 3px;
    
  }
}

@media (max-width: 800px) {
 

  .homeTitle {
    font-size: 54px;
    letter-spacing: 0px;
  }

  .homeTitleDescript {
    letter-spacing: 1px;
    
  }
}

@media (max-width: 700px) {
  .homeTitleWrapper {
    top: 75px;
  }
  .bannerImgContainer {
    top: 75px;
  }

  .homeTitle {
    font-size: 48px;
  }

  .homeTitleDescript {
    letter-spacing: 0px;
  }

  
}

@media (max-width: 650px) {

  .homeTitle {
    font-size: 42px;
  }

  .homeTitleDescript {
   font-size: 25px;
  }


}

@media (max-width: 600px) {
  .homeTitle {
    font-size: 40px;
  }

  .flexSpacer {
    width: 0%;
  }

  .homeTitleDescript {
   font-size: 23px;
  }
  .homeTitleWrapper {
    height: 130px;
  }
}

@media (max-width: 550px) {
  .homeTitle {
    font-size: 37px;
  }

  .homeTitleDescript {
    font-size: 21px;
  }
        .homeTitleWrapper {
          top: 55px;
        }
    
        .bannerImgContainer {
          display: flex;
          top: 55px;
          overflow-x: hidden;

        }
        .bannerImg{
         
        }
}

@media (max-width: 500px) {
  .homeTitle {
    font-size: 35px;
  }
  .homeTitleDescript {
    font-size: 20px;
  }
  .homeTitleWrapper {
    top: 42px;
  }
  .bannerImgContainer {
    top:42px;
  }
}

@media (max-width: 450px) {
  .homeTitleWrapper {
    top: 70px;
  }
  .bannerImgContainer {
    top: 70px;
  }
  .homeTitle {
    font-size: 32px;
  }
  .homeTitleDescript {
    font-size: 18px;
  }
}

@media (max-width: 400px) {
  .homeTitle {
   font-size: 27px;
  }

  .homeTitleDescript {
 font-size: 16px;
  }
     .homeTitleWrapper {
       top: 57px;
     }
  
     .bannerImgContainer {
       top: 80px;
     }
}

@media (max-width: 350px) {
  .homeTitle {
    font-size: 24px;
  }

  .homeTitleDescript {
    
  }
    .homeTitleWrapper {
      top: 46px;
    }
  
    .bannerImgContainer {
      top: 70px;
    }
    .bannerImgContainer {
      
    }
}
@media (max-width: 300px) {
  .homeTitle {
font-size: 23px;
  }

  .homeTitleDescript {}

  .homeTitleWrapper {
top: 35px;
  }

  .bannerImgContainer {
  top: 65px;
  }
}