.banner {
  color: #0e1d30;
  width: 100%;
  position: relative;
}

.bannerImgContainer {
  width: 100%;
}

.bannerImg {
  width: 100%;
  display: flex;
}

.homeTitle {
  display: none;
}

.homeTitleImgDescript {
  font-size: 48px;
  letter-spacing: 11px;
  font-weight: 400;
  text-align: center;
  position: absolute;
  top: 20%;
  left: 2%;
  right: 2%;
}

.homeTitleDescript {
  display: none;
}

@media (max-width: 1650px) {
  .homeTitleImgDescript {
    font-size: 40px;
  }
}

@media (max-width: 1500px) {
  .homeTitleImgDescript {
    font-size: 35px;
  }
}

@media (max-width: 1350px) {
  .homeTitleImgDescript {
    font-size: 30px;
  }
}

@media (max-width: 1250px) {
  .homeTitleImgDescript {
    font-size: 30px;
    letter-spacing: 7px;
  }
}

@media (max-width: 1100px) {
  .homeTitleImgDescript {
    font-size: 29px;
    letter-spacing: 6px;
  }
}

@media (max-width: 1000px) {
  .homeTitleImgDescript {
    letter-spacing: 5px;
    font-size: 28px;
    top: 18%;
  }
}

@media (max-width: 900px) {
  .homeTitleImgDescript {
    letter-spacing: 3px;
    
  }
}

@media (max-width: 800px) {
  .homeTitleImgDescript {
    letter-spacing: 1px;
    top: 16%;
  }
}

@media (max-width: 700px) {
  .homeTitleImgDescript {
    letter-spacing: 0px;
  }
}

@media (max-width: 650px) {
  .banner {
    padding-top: 15px;
  }
  .homeTitle {
    display: block;
    text-align: center;
    margin: 0;
  }
  .homeTitleDescript {
    display: block;
    text-align: center;
    font-size: 24px;
    margin: 0;
  }
  .homeTitleImgDescript {
    display: none;
  }
  .bannerImgContainer {
    display: none;
  }
}
@media (max-width: 400px) {
  .homeTitle {
    font-size: 40px;
  }
}








