.homeGrid {
  display: grid;
  grid-template-areas: "txt img";
  gap: 20px;
  padding: 20px
}
  .homeImgContainer {
grid-area: img;
  }

.homeImg {
  border-radius: 15px;
}
.homeIntroCard {
  grid-area: txt;
}
.homeIntro {
  margin: 20px 0px 0px 0px;
}
.homeContent {
text-align: justify;
}
.nextImg {
  border-radius: 15px;
}
.nextContent {
  text-align: justify;
}
.netlifyImgContainer {
  width: 80%;
  margin: auto;
}
.netlifyLimits {
  font-style: italic;
  font-size: medium;
}
@media (max-width: 800px) {
 
}
