.homeGrid {
  display: grid;
  grid-template-areas: "intro img"
  "cont img"
"cont img"
"cont img"
"cont img"
  "next nxtIntro"
  "next nxtCont"
  "ntlfy limits"
 ;
  column-gap: 40px;
  row-gap: 10px;
  padding: 30px 60px;
}
  .homeImgContainer {
grid-area: img;
margin: auto;
  }

.homeImg {
  border-radius: 15px;
}

.homeIntro {
  display: flex;
  justify-content: center;
    grid-area: intro;
    font-size: 55px;
    margin: 0;
    align-items: center;
}
.homeContent {
text-align: justify;
 grid-area: cont;
 margin: 0;
 padding: 0px 20px
}
.nextImgContainer  {
  grid-area: next;
  margin: 30px 0px 0px;
}
.nextImg {
  border-radius: 15px;
}
.nextIntro {
  grid-area: nxtIntro;
  display: flex;
  align-items: end;
  justify-content: center;
  font-size: 55px;
  margin: 0;
}
.nextContent {
  text-align: justify;
  grid-area: nxtCont;
  margin: 0;
  padding: 0px 20px
}
.netlifyImgContainer {
  width: 70%;
  margin: auto;
  grid-area: ntlfy;
  
}
.netlifyLimits {
  font-style: italic;
  font-size: 20px;
  grid-area: limits;
  display: flex;
  align-items:start;
  justify-content: center;
  margin: 0;
  padding: 0px 25px
}
@media (max-width: 1000px) {
  .homeContent {
    font-size: 20px;
  }
  .nextContent {
    font-size:  20px;
  }
  .netlifyLimits {
    font-size: 18px;
  }
}
@media (max-width: 750px) {
 .homeGrid {
  grid-template-areas: "intro intro"
  "img img"
  "cont cont"
  "nxtIntro nxtIntro" 
  "next ntlfy" 
  "nxtCont nxtCont"
  "limits limits";
  padding: 10px 5px 40px;
  column-gap: 0;
}
.homeIntro {
  margin-bottom: 10px;
}
.homeContent {
  margin: 10px 0px 20px;
}
.nextImgContainer {
  width: 80%;
  margin: auto;
}
.nextIntro {
  margin-top: 20px;
}
.nextImgContainer {
width: 95%;
}
.netlifyImgContainer {
width: 95%;
}

}
