.footer {
  border-top: 0.5px solid rgb(14, 14, 14);
  color: #0e1d30;
}
.footContent {
  background-color: #d3d4d4;
  margin: 0;
  padding: 15px 10px 20px;
}

.socialLinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 20px;
}

.socialLink {
  padding: 15px 15px;
}

.copyright {
  font-size: 20px;
  margin: 0;
}

@media (max-width: 800px) {
  .copyright {
    font-size: 14px;
  }
}

@media (max-width: 350px) {
  .footContent {
    padding: 30px 50px 20px;
  }
}

@media (max-width: 289px) {
  .footContent {
    padding: 30px 40px 20px;
  }
}
