.fourOhFourPage {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("/flags.jpg");
    background-size: contain;
}
.footer {
    margin-top: auto;
}
.spacer {
    height: 20px;
}

.img404 {
    opacity: 70%;
}
.fourOhFourPageContent {
  color: #092649;
  background-color: white;
  border: 2px solid #092649;
  box-shadow: 2px 1px #092649;
  border-radius: 20px;
  padding: 120px 80px; 
  display: flex;
  flex-direction: column;
 justify-content: center;
  margin: auto ;

}
.fourOhFourPageContent h1 {
  margin: 0;
}
.fourOhFourPageContent h2 {
  margin-top: 0;
}
.fourOhFourPageContent a {
  font-size: 45px;
  color: #092649;
  cursor: pointer;
  text-shadow: 1px 1px #00bf63;
}

.fourOhFourPageContent a:hover {
  color: #00bf63;
  cursor: pointer;
}

@media (max-width: 850px) {
  .fourOhFourPageContent {
    padding: 120px 50px; 
  }
}

@media (max-width: 750px) {
  .fourOhFourPageContent {
    padding: 120px 40px; 
  }
}
@media (max-width: 650px) {
    .fourOhFourPageContent a {
 font-size: 35px;
}
.fourOhFourPageContent h1 {
    font-size: 30px;
  }
  .fourOhFourPageContent h2 {
    font-size: 26px;
  }
}

@media (max-width: 550px) {
.fourOhFourPageContent {
    max-width: 350px;
}
}
@media (max-width: 400px) {
.fourOhFourPageContent {
    max-width: 300px;
    padding: 80px 20px;
}
}

@media (max-width: 350px) {
    .fourOhFourPageContent h2 {
        font-size: 22px;
    }
  .fourOhFourPageContent a {
    font-size: 30px;
    
  }
  .fourOhFourPageContent {
    max-width: 250px;
    padding: 50px 20px;
  }
}

