.aboutPage {
  display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('/flags.jpg');
  background-size: contain;
}
.aboutPageContent {
   margin-top: 50px;
}
.missionBox { 
  background-color: white;
  color: black;
  width: 500px;
  margin: auto;
  padding: 80px 20px;
  border-radius: 20px;
  border: 2px solid #092649;
  box-shadow: 2px 1px #092649;
}
.footer {
  margin-top: auto;
}

@media (max-width: 600px) {
  .missionBox {
    width: 400px
  }
.missionTitle {
font-size: 35px;
}
.missionContent {
font-size: 20px;
}
}

@media (max-width: 450px) {
  .missionBox {
    width: 300px;
    padding: 50px 20px;
  }
.missionTitle {
font-size: 35px;
}
.missionContent {
font-size: 20px;
}
}

@media (max-width: 350px) {
  .missionBox {
    width: 220px;
     padding: 30px 20px;
     margin-bottom: 30px;
  }
.missionTitle {
font-size: 35px;
}
.missionContent {
font-size: 20px;
}
}