.aboutPage {
  display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.aboutPageContent {
  background-image: url('/flags.jpg');
  background-repeat: repeat;
  opacity: .6;
  height: 1200px
}
.footer {
  margin-top: auto;
}